@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/*==========Reset CSS==========*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*==========Root==========*/
:root {
    --header-height: 3.5rem;

    --first-color: hsl(22, 72%, 50%);
    --first-color-alt: hsl(22, 72%, 46%);
    --white-color: #fff;
    --text-color: hsl(22, 4%, 75%);
    --text-color-light: hsl(22, 4%, 55%);
    --body-color: hsl(22, 8%, 6%);
    --container-color: hsl(22, 8%, 7%);

    --body-font: 'Space Grotesk', sans-serif;
    --second-font: 'Butcherman', cursive;
  
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    --z-tooltip: 10;
    --z-fixed: 100;
}
  
/*==========Responsive typography==========*/
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }

}
  
/*==========Base==========*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    background-image: url(../images/stars.png);
    color: var(--white-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 5rem 1.5rem;
}
.section__title {
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    font-weight: initial;
    line-height: 130%;
    color: var(--first-color);
    text-align: center;
    margin-bottom: 2.5rem;
}
.main {
    overflow: hidden;
}
.shape__bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: soft-light;
    opacity: .5;
}
  .shape__small, 
  .shape__big {
    position: absolute;
    background-color: var(--first-color);
    filter: blur(96px);
    z-index: -1;
    border-radius: 50%;
}
.shape__small {
    width: 150px;
    height: 150px;
}
.shape__big {
    width: 250px;
    height: 250px;
    opacity: .8;
}

/*==========Header==========*/